/**
 * @name Nocturnal
 * @author Spectra#7698 & Печенько#3183
 * @version 2.92 AutoUpdate
 * @description A simple & clean dark theme for thoses who live at night, made to be easy on the eye. Fixed & reworked by Печенько#3183
 * @source https://github.com/FlashAL/Nocturnal-discord-theme 
 * @authorLink https://discordhub.com/profile/367510031484190730
 * @donate https://www.donationalerts.com/r/flashal
 * @authorId 367510031484190730
 * @invite rN4czz9
*/